// _sign-in.scss
// 
// Template's sign in page styles.
// 


// Sign In Page
.sign-in {
	.containter-login-form{
		padding: 50px;
		background-color: #F5F5F5F5;
		opacity: 90%;
		border-radius: 8px;
		position: absolute;
		top: 200px;
		left: 250px;
		@media screen and(max-width: 920px) {
			left: 10%;
			right: 10%;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.container-login-item{
		margin-bottom: -3%;
		@media screen and(max-width: 920px) {
			margin-bottom: -10px;
		}
		@media screen and(max-width: 600px) {
			margin-bottom: -40px;
		}
	}
	.title{
		position: absolute;
		top: -150px;
		// right: 200px;
		font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', sans-serif;
		color: #F5F5F5F5;
		font-size: 80px;
		// padding: 30px 70px;
		margin-top: 4%;
		opacity: 80%;
		font-weight: 900;

		@media screen and(max-width: 920px) {
			// top: 25px;
			// left: 50px;
		}
		@media screen and(max-width: 600px) {
			// top: 25px;
			// left: 10px;
			// font-size: 60px;
		}
	}
}
// / Sign In Page